.scream
	background-image: url(scream.jpg)
	width: 425px
	height: 301px
	margin: 0 auto
	position: relative
	margin-bottom: 40px
	.container
		position: absolute
		display: table-cell
		text-align: center
		vertical-align: middle

		top: 54px
		right: 38px
		width: 185px